In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./vgsales.csv')

In [3]:
most_company_publisher=df.Publisher.mode()[0]
most_company_publisher

'Electronic Arts'

In [4]:
most_common_platform=df.Platform.mode()[0]
most_common_platform

'DS'

In [5]:
most_common_genre=df.Genre.mode()[0]
most_common_genre

'Action'

In [6]:
top_twenty_highest_grossing_games=df[['Name', 'Global_Sales']].head(20)
top_twenty_highest_grossing_games

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

In [7]:
median_sales=df['NA_Sales'].median()
median_sales

0.08

In [8]:
top_10_games_has_median_sales=df[df['NA_Sales']==df['NA_Sales'].median()]

In [9]:
top_10_games_has_median_sales[['Name', 'NA_Sales']][225:236]

                                        Name  NA_Sales
9934                        Turok: Evolution      0.08
9957                                Deadpool      0.08
9996              GT Advance 2: Rally Racing      0.08
10000                         A Witch's Tale      0.08
10012                      Nickelodeon Dance      0.08
10020               Phantasy Star Collection      0.08
10022                  LEGO Knights' Kingdom      0.08
10024     Family Game Night 4: The Game Show      0.08
10026                           NBA Jam 2002      0.08
10029               Tony Hawk's Pro Skater 5      0.08
10042  Tom Clancy's Rainbow Six: Rogue Spear      0.08

In [10]:
na_normal_distribution=(df['NA_Sales'].iloc[0]-df["NA_Sales"].mean())/df["NA_Sales"].std()
na_normal_distribution

50.47898767479108

In [11]:
average_sales_wii=df[df['Platform']=='Wii'].Global_Sales.mean()
average_sales_all=df['Global_Sales'].mean()
compare_tuple=(average_sales_all, average_sales_wii)
compare_tuple

(0.5374406555006628, 0.6994037735849057)

In [12]:
average_PS3_sales=df[df['Platform']=='PS3'].Global_Sales.mean()
average_PS3_sales

0.7207223476297968

In [13]:
best_pokemon_sold_game=df['Name'][4]
best_pokemon_sold_game

'Pokemon Red/Pokemon Blue'

In [14]:
median_global_sales=df['Global_Sales'].median()
median_global_sales

0.17

In [15]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_company_publisher, 'Electronic Arts')
    assert_equal(most_common_platform, 'DS')
    assert_equal(most_common_genre, 'Action')
    assert_equal(top_twenty_highest_grossing_games.iloc[0].Name, 'Wii Sports')
    assert_equal(top_twenty_highest_grossing_games.iloc[19].Name, 'Brain Age: Train Your Brain in Minutes a Day')
    assert_equal(median_sales, 0.08)
    assert_equal(na_normal_distribution, 50.47898767479108)
    assert_equal(compare_tuple, (0.5374406555006628, 0.6994037735849057))
    assert_equal(average_PS3_sales, 0.7207223476297968)
    assert_equal(best_pokemon_sold_game, 'Pokemon Red/Pokemon Blue')
    assert_equal(median_global_sales, 0.17)


    print("Success!!!")

test()

Success!!!